.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal {
    background-color: #A6A877;
}


.grass {
    background-color: #46D1B2;
}


.fire {
    background-color:  #FB6C6C;
}


.water {
    background-color: #77BEFE;
}


.electric {
    background-color: #FFD970;
}


.ice {
    background-color: #98D5D7;
}


.ground {
    background-color: #DFBF69;
}


.flying {
    background-color: #A98FF0;
}


.poison {
    background-color: #A040A0;
}


.fighting {
    background-color: #BF3029;
}


.psychic {
    background-color: #F65687;
}


.dark {
    background-color: #725847;
}


.rock {
    background-color: #B8A137;
}


.bug {
    background-color: #A8B720;
}


.ghost {
    background-color: #6E5896;
}


.steel {
    background-color: #B9B7CF;
}


.dragon {
    background-color: #6F38F6;
}


.fairy {
    background-color: #F9AEC7;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-image: url('./../images/pokeball-bg.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position:  bottom -15px right -10px;
    background-origin: padding-box;
    background-blend-mode: soft-light;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.pokemon:hover {
    transform: scale(1.1);
}

.pokemon .number {
    color: #000;
    opacity: .2;
    text-align: right;
    font-size: .9rem;
    font-weight: 700;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
}

.pokemon .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .5rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    font-weight: 600;
    background-color: #ED1B24;
    border: 1px solid transparent;
    border-radius: 1rem;
    color: #FFF;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.pagination button:hover {
    color: #ED1B24;
    background-color: #FFF;
    border: 1px solid #ED1B24;
}

@media screen and (min-width: 511px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .pokemon {
        width: auto;
    }
}
@media screen and (min-width: 753px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemon {
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .pokemon {
        width: auto;
    }
}